 <br><a class="links" href="/logout"> Logout</a>
        <%= link_to("Upload an outfit", new_outfit_path, class: "links") %>

        <a class="links" href="/users/<%=current_user.id%>">View your gallery</a>

        <%= link_to("All outfits", all_outfits_path, class: "links") %>

        <a class="links" href="/random">Explore Outfits!</a>

        <a class="links" href="/users">Explore Users!</a>


<% @outfit.errors.messages.each do |attr, message| %>
  <p>error on <%= attr %><%= message %></p>
<% end %>

<h1> Upload An Outfit! </h1>

<%= form_for @outfit, :url => outfits_path, :html => {:multipart => true } do |f| %>
  <%= f.file_field :photo %>
  <%= f.label(:description) %>
    <%= f.text_field(:description) %>
  <%= f.label(:brand_name) %>
    <%= f.text_field(:brand_name) %>
  <%= f.label(:style) %>
    <%= f.text_field(:style) %>
    <%= f.hidden_field :user_id, :value => @user.id %>
  <%= f.submit %>



<% end %>

