 <br><a class="links" href="/logout"> Logout</a>
        <%= link_to("Upload an outfit", new_outfit_path, class: "links") %>

        <a class="links" href="/users/<%=current_user.id%>">View your gallery</a>

        <%= link_to("All outfits", all_outfits_path, class: "links") %>

        <a class="links" href="/random">Explore Outfits!</a>

        <a class="links" href="/users">Explore Users!</a>

<br>
<h1> Random Outfits </h1>
<a href="/random">Click for new outfits!</a>
</p>
<br>


<% @instagram_outfits.each do |outfit| %>
<div class="outfit">
   <img src="<%= outfit[0] %>"/><br>
<span class="ig_likes">♥ <%= outfit[1] %> likes </span>
</div>

<% end %>


