 <br><a class="links" href="/logout"> Logout</a>
        <%= link_to("Upload an outfit", new_outfit_path, class: "links") %>

        <a class="links" href="/users/<%=current_user.id%>">View your gallery</a>

        <%= link_to("All outfits", all_outfits_path, class: "links") %>

        <a class="links" href="/random">Explore Outfits!</a>

        <a class="links" href="/users">Explore Users!</a>

<h1> All Users </h1>

<% @users.each do |user| %>
  <a id="user_names" href="/users/<%= user.id %>"><%= user.name %></a>

  <p class="user_attributes"><strong>Name:</strong></p> <%= user.name %>
  <p class="user_attributes">Gender:</strong></p> <%= user.gender %>
  <p class="user_attributes">Email:</strong></p> <%= user.email %>
  <p class="user_attributes">Style:</strong></p> <%= user.style %>
  <p class="user_attributes">Age:</strong></p> <%= user.age %>
  <br>
  <br>

  <% end %>
