<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



    <% if logged_in? %>
        <h2>Hi, <%= current_user.name %>!</h2>

          <a class="links" href="/logout"> Logout</a>
        <%= link_to("Upload an outfit", new_outfit_path, class: "links") %>

        <a class="links" href="/users/<%=current_user.id%>">View your gallery</a>

        <%= link_to("All outfits", all_outfits_path, class: "links") %>

        <a class="links" href="/random">Explore Outfits!</a>

        <a class="links" href="/users">Explore Users!</a>


        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="fb-like" data-href="http://intense-stream-2912.herokuapp.com/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    <% else %>
        <%= link_to("Sign up", new_user_path, class: "links") %>
        <%= link_to("Login", session_new_path, class: "links") %>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="fb-like" data-href="http://intense-stream-2912.herokuapp.com/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    <% end %>
</p>


